.checkout {
  width: 100vw;
  height: 100vh !important;
  overflow-y: overlay;
}

.checkout .hide {
  display: none;
}

.checkout .deliveryBtnAlign {
  text-align: center;
	margin-bottom: 2em;
}

.checkout .container div.row{
	justify-content: center;
	line-height: 2.5em;
}

.checkout .container .row div input, .checkout .container .row div textarea{
	border: none;
  border-bottom: 1px solid #ced4da;
	border-radius: 1px;
	box-shadow: none;
}

.checkout .container .row div input:focus, .checkout .container .row div textarea:focus{
	border-bottom: 1px solid #4ea1f9;
}

.checkout .container .row div input:focus::placeholder, .checkout .container .row div textarea:focus::placeholder{
	color: transparent !important;
}
